.container_inner {
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
}
.container_inner a {
    text-decoration: none;
    color: white;
}

.logo_box a {
    font-weight: 400;
    font-size: 36px;
    line-height: 32px;
    font-family: 'Vogue';
}

.header_mid_text {
    margin-left: 80px;
}

.header_mid_text a {
    margin: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

.header_end_texts {
    align-items: center;
}

.header_end_texts a {
    margin: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

@media screen and (max-width:880px) {
    .container_inner {
        align-items: center;
        flex-direction: column;
    }

    .logo_box {
        padding-bottom: 60px;
    }

    .logo_box a {
        font-size: 70px;
    }

    .header_mid_text a {
        font-size: 30px;
    }

    .header_end_texts,
    .header_mid_text,
    .logo_box {
        margin: 10px;
    }
}