* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Vogue';
    src: url(../font/Vogue.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto-Regular.ttf);
}

.container {
    background-image: url(../img/contact/top_section_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content_tittle {
    margin-top: 287px;
    text-align: center;
}

.content_tittle h1 {
    font-family: 'Vogue';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 43px;
    color: #FFFFFF;
}

.content_registration_box {
    margin-top: 88px;
}

.input_box {
    width: 369px;
    height: 225px;
    margin: auto;
    padding: 20px;
    background-color: white;
}

.content_registration form {
    display: flex;
    flex-direction: column;
}

.content_registration form hr {
    margin-bottom: 10px;
}

.content_registration form input {
    margin-top: 12px;
    padding-bottom: 12px;
    border: 0;
}

.button_box {
    text-align: center;
    margin-top: 51px;
}

.button_box button {
    width: 114px;
    height: 41px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.button_box button:hover {
    cursor: pointer;
}

.bottom_section {
    align-items: center;
    margin-top: 147px;
    display: flex;
    justify-content: space-between;
    padding: 0 110px 78px 110px;
}

.left_paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #D2CDCD;
}

.right_paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}